<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Recommend Friend</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.239495170702-1h5hfhm3ru5s8dcjsf7vmdn9o2tlpplh</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.239495170702-kl6icv5ovvesp6lqkec3k5d19do48fhh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requires media library access to function.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires calendar access to function.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your photos so that you may set a profile pic or send pictures in chat</string>
	<key>NSContactsUsageDescription</key>
	<string>We need your permission to access your contacts in order to sync them and let you enjoy the full experience of this app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app requires location access to function.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app requires location access to function.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires microphone access to function.</string>
	<key>NSMotionUsageDescription</key>
	<string>This app requires motion usage access to function.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photos so that you may set a profile pic or send pictures in chat</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This app requires speech recognition access to function.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
